<% layout("/layouts/biolerplate")-%>

    <div class="row">
        <div class="col-8 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4>
                    <%=err.message%>
                </h4>
            </div>
        </div>

    </div>